src/main/resources/DMDVHC.asmx.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DanhMucTinh">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DenNgay" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhMucTinhResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhMucTinhResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax"/>
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhMucQuanHuyen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DenNgay" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Tinh" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TenTinh" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhMucQuanHuyenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhMucQuanHuyenResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax"/>
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhMucPhuongXa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DenNgay" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Tinh" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TenTinh" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="QuanHuyen" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="TenQuanHuyen" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhMucPhuongXaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhMucPhuongXaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax"/>
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DanhMucTinhSoapIn">
    <wsdl:part name="parameters" element="tns:DanhMucTinh"/>
  </wsdl:message>
  <wsdl:message name="DanhMucTinhSoapOut">
    <wsdl:part name="parameters" element="tns:DanhMucTinhResponse"/>
  </wsdl:message>
  <wsdl:message name="DanhMucQuanHuyenSoapIn">
    <wsdl:part name="parameters" element="tns:DanhMucQuanHuyen"/>
  </wsdl:message>
  <wsdl:message name="DanhMucQuanHuyenSoapOut">
    <wsdl:part name="parameters" element="tns:DanhMucQuanHuyenResponse"/>
  </wsdl:message>
  <wsdl:message name="DanhMucPhuongXaSoapIn">
    <wsdl:part name="parameters" element="tns:DanhMucPhuongXa"/>
  </wsdl:message>
  <wsdl:message name="DanhMucPhuongXaSoapOut">
    <wsdl:part name="parameters" element="tns:DanhMucPhuongXaResponse"/>
  </wsdl:message>
  <wsdl:portType name="DMDVHCSoap">
    <wsdl:operation name="DanhMucTinh">
      <wsdl:input message="tns:DanhMucTinhSoapIn"/>
      <wsdl:output message="tns:DanhMucTinhSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="DanhMucQuanHuyen">
      <wsdl:input message="tns:DanhMucQuanHuyenSoapIn"/>
      <wsdl:output message="tns:DanhMucQuanHuyenSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="DanhMucPhuongXa">
      <wsdl:input message="tns:DanhMucPhuongXaSoapIn"/>
      <wsdl:output message="tns:DanhMucPhuongXaSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DMDVHCSoap" type="tns:DMDVHCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DanhMucTinh">
      <soap:operation soapAction="http://tempuri.org/DanhMucTinh" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhMucQuanHuyen">
      <soap:operation soapAction="http://tempuri.org/DanhMucQuanHuyen" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhMucPhuongXa">
      <soap:operation soapAction="http://tempuri.org/DanhMucPhuongXa" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DMDVHCSoap12" type="tns:DMDVHCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DanhMucTinh">
      <soap12:operation soapAction="http://tempuri.org/DanhMucTinh" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhMucQuanHuyen">
      <soap12:operation soapAction="http://tempuri.org/DanhMucQuanHuyen" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhMucPhuongXa">
      <soap12:operation soapAction="http://tempuri.org/DanhMucPhuongXa" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DMDVHC">
    <wsdl:port name="DMDVHCSoap" binding="tns:DMDVHCSoap">
      <soap:address location="https://danhmuchanhchinh.gso.gov.vn/DMDVHC.asmx"/>
    </wsdl:port>
    <wsdl:port name="DMDVHCSoap12" binding="tns:DMDVHCSoap12">
      <soap12:address location="https://danhmuchanhchinh.gso.gov.vn/DMDVHC.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>